<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gamewin.weixin.mybatis.GameMybatisDao">
 
 
	<select id="getGamelist" resultType="com.gamewin.weixin.entity.Game">
	 
	</select>
	
    <select id="getEffectiveGamelist" resultType="com.gamewin.weixin.entity.Game">
	 
	</select> 
</mapper> 
