<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gamewin.weixin.mybatis.GameCodeMybatisDao">

 	<resultMap id="GameCodeMap" type="GameCode">
		<id property="id" column="id" />
		<result property="code" column="code" /> 
		<result property="wxuserId" column="wxuser_Id" /> 
		<result property="status" column="status" /> 
		<result property="createDate" column="create_Date" />   
		 <association property="game" column="game_id" javaType="Game">
			<id property="id" column="gamex_id" />
			<result property="gameName" column="gamex_name" /> 
		</association>
	</resultMap>
	
 	<select id="getGameCodelistByGame" parameterType="Long" resultMap="GameCodeMap">
	 
	</select>
	
    <select id="getMyGameCode" parameterType="Long" resultType="com.gamewin.weixin.entity.GameCode">
	 
	</select> 
</mapper> 
