<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gamewin.weixin.mybatis.ManageTaskMybatisDao">
 
 
	<select id="getUserMyManageTask" parameterType="long" resultType="com.gamewin.weixin.entity.ManageTask">
		 select id,title,start_Date startDate,end_Date endDate ,create_Date createDate,
		 description,task_Count taskCount,viewrange_Type viewrangeType,weixin_Gd weixinGd,
		 weixin_Ls weixinLs,weixin_Apk weixinApk,weixin_Other weixinOther,apk_Url apkUrl,
		 other_Url otherUrl,state 
		 from wx_manage_task t  where t.isdelete=0
	</select>
</mapper> 
