<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gamewin.weixin.mybatis.ManageTaskMybatisDao">
 
 
	<select id="getUserMyManageTask" parameterType="long" resultType="com.gamewin.weixin.entity.ManageTask">
	SELECT id,
       title,
       start_Date startDate,
       end_Date endDate,
       create_Date createDate,
       description,
       task_Count taskCount,
       viewrange_Type viewrangeType,
       weixin_Gd weixinGd,
       weixin_Ls weixinLs,
       weixin_Apk weixinApk,
       weixin_Other weixinOther,
       apk_Url apkUrl,
       other_Url otherUrl,
       state,
       (SELECT SUM(k.qr_Subscribe_Count)
          FROM wx_manage_qrcode k
         WHERE k.task_id = t.id) finishTaskCount, 
       (SELECT SUM(k.qr_Subscribe_Count)
          FROM wx_manage_qrcode k
         WHERE k.task_id = t.id
           and k.user_id = #{userId}) finishTaskMyCount,
       (SELECT SUM(k.qr_Subscribe_Count)
          FROM wx_manage_qrcode k
         WHERE k.task_id = t.id
           and k.user_id in (SELECT u.id
                               FROM wx_user u
                              WHERE FIND_IN_SET(u.id, queryChildrenUser(#{userId}))
                                AND u.upuser_id IS NOT NULL)) finishTaskMyChildrenCount
  FROM wx_manage_task t
 WHERE t.isdelete = 0
   AND (t.viewrange_Type = 'All' or
       (t. viewrange_Type = 'SELECT' AND
        T.id in (SELECT task_id
                       FROM wx_user_viewrange v
                      WHERE v.user_id in
                            (SELECT u.id
                               FROM wx_user u
                              WHERE FIND_IN_SET(u.id, queryUpUser(#{userId}))
                                AND u.upuser_id IS NOT NULL))))

order by t.create_Date desc
	</select>
	
	
	<select id="getUserManageTask" parameterType="long" resultType="com.gamewin.weixin.entity.ManageTask">
		SELECT id,
	       title,
	       start_Date startDate,
	       end_Date endDate,
	       create_Date createDate,
	       description,
	       task_Count taskCount,
	       viewrange_Type viewrangeType,
	       weixin_Gd weixinGd,
	       weixin_Ls weixinLs,
	       weixin_Apk weixinApk,
	       weixin_Other weixinOther,
	       apk_Url apkUrl,
	       other_Url otherUrl,
	       state,
	       (SELECT SUM(k.qr_Subscribe_Count)
	          FROM wx_manage_qrcode k
	         WHERE k.task_id = t.id) finishTaskCount,
	       (SELECT SUM(k.qr_Subscribe_Admin_Count)
	          FROM wx_manage_qrcode k
	         WHERE k.task_id = t.id) finishTaskAdminCount 
	  FROM wx_manage_task t
	 WHERE t.isdelete = 0  
	 order by t.create_Date desc
	</select>
</mapper> 
